input {
    text-decoration: none;
    position: relative;
    border-radius: 5px;
    outline: none;

}

.focus {
    border: 2px solid limegreen; /* при фокусе */
    border-radius: 5px;
}

.error { border-color: red;
    border-radius: 5px; /* при неверном вводе*/
}
.input-tooltip {
    position: absolute;
    left: 50px;
    top:30px;
    background-color: grey;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    width: 60px;
    height: 10px;
    text-align: center;
    font-size: small;
}  /* поле для подсказки span*/